.cats-container {
    border-top: 1px solid rgb(212, 212, 212);
    height: 55vh;
    padding: 0 100px;
    padding-top: 75px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.cats-container.hidden {
    display: none;
}