.item-listed-container {
    min-width: 250px;
    min-height: 250px;
    width: 20vw;
    height: 20vw;
    max-width: 300px;
    max-height: 300px;
    cursor: pointer;

    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 0
    
}

.item-listed-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 8px 0px;
    max-height: 50px;
    overflow: hidden;
    text-align: center;
    background: #efefef;
    text-align: left;
    padding-left: 10px;
}

.item-listed-bottom-discount {
    display: flex;
}

.item-listed-bottom-price {
    font-size: 18px;
    /* font-weight: bold; */
    color: rgb(0, 73, 73);
    
}

.item-listed-bottom-price.dashed {
    margin-right: 10px;
    font-size: 16px;
    color: rgb(52, 52, 52);
    line-height: 24px;
    text-decoration:line-through;
    text-decoration-thickness: 1.5px;
}

.item-listed-bottom-price.discounted {
    color: rgb(196, 66, 66);
}