.header {
    background: white;
    top: 0;
    left: 50%;
    width: 100%;
    transition: all .5s;
    position: fixed;
    max-width: 2520px;
    transform: translate(-50%, 0);
}

.header.visible {
    transition: cubic-bezier() .75s;

}

.header.hidden {
    transform: translate(-50%, -105%);
    transition: cubic-bezier() .75s;

}

.header-container {
    padding: 15px 0;
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.header-container-third {
    width: 33%;
    display: flex;
    justify-content: space-around;
}

.header-container > :first-child {
    justify-content: flex-start;
}

.header-container > :last-child {
    justify-content: flex-end;
}