.header-element-container {
    display: inline-block;
}

.header-element-button {
    font-family: ubuntu;
    font: "ubuntu";
    font-weight: normal;
    border: none;
    background: white;

    font-family: ubuntu;
    font: "ubuntu";
    font-weight: normal;
    font-size: 25px;
    line-height: 45px;

    padding: 0;

    transition-duration: .25s;
}

.header-element-bold {
    font-size: 30px;
    font-weight: bold;
  }

.header-element-button.hovered {
    color: rgb(140, 140, 140);
    transition-duration: .25s;
    cursor: pointer;
}