.header-element-container {
    display: inline-block;
    align-self: center;
}

.header-element-button {

    font-family: ubuntu;
    font: "ubuntu";
    font-weight: normal;
    border: none;
    background: white;

    font-family: ubuntu;
    font: "ubuntu";
    font-weight: normal;
    
    line-height: 45px;

    padding: 0;

    transition-duration: .25s;
}

.header-element-button.big {
    font-size: 30px;
}

.header-element-button.default {
    font-size: 25px;
}

.header-element-button.small {
    font-size: 16px;
}

.header-element-bold {
    font-weight: bold;
  }

.header-element-button.hovered {
    color: rgb(140, 140, 140);
    transition-duration: .25s;
    cursor: pointer;
}
