.header-container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.header-container-third {
    width: 33%;
    display: flex;
    justify-content: space-around;
}

.header-container > :first-child {
    justify-content: flex-start;
}

.header-container > :last-child {
    justify-content: flex-end;
}