.filter-el-dropdown.visible {
    display: block;
}

.filter-el-dropdown {
    display: none;
}

.filter-el-text {
    cursor: pointer;
    user-select: none;
}

.filter-el-text {
    font-weight: bold;
}

.filter-el-dropdown-option.selected {
    background: #000;
    color: white;
}

.filter-el-dropdown-option {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 4px;
    cursor: pointer;
    user-select: none;
}

.filter-el-text {
    margin: 6px 0;
}

.filter-el-dropdown {
    padding: 10px 0px;
    padding-right: 20px;
    position: absolute;
    background: white;
    box-shadow: 8px 8px teal;
}