.items-list-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    align-content: flex-start;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.items-list-header {
    margin-top: 150px;
}

.items-list-container {
    width: 90%;
    height: 100%;
    margin: auto;
    /* background: rgb(243, 213, 193); */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}